.search_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.search_fild {
    border: 1px solid #000000;
    border-radius: 6px;
    outline: 1px solid transparent;

    height: 45px;
    width: 250px;
    font-size: 18px;

    transition: border-color 250ms ease-in-out, outline-color 250ms ease-in-out;
}

.search_fild:hover {
    border-color: #b80b0b;
}

.search_fild:focus {
    border-color: #b80b0b;
    outline-color: #b80b0b;
}

.search_fild::placeholder {
    font-size: 18px;
}

.search_btn {
    color: #000000;
    font-size: 20px;
    padding: 12px 35px;
    border: none;
    cursor: pointer;

    border-radius: 6px;
    background-color: #b80b0b;
    color: #fff;
    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.search_btn:hover {
    background-color: #cc0f0f;
    color: #fff;
}