.trending_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 19px;
}

.trending_item {
    display: flex;
    align-items: center;
    gap: 3px;
}

.trending_icon {
    transition: transform 200ms ease-in-out;
}

.link {
    color: #000;
    text-decoration: none;
    font-size: 23px;
    transition: font-size 200ms ease-in-out;
}

.trending_item:hover .trending_icon {
    transform: scale(1.2);
}

.trending_item:hover .link {
    font-size: 25px;
}