.navMenu {
    background-color: rgb(237, 237, 237);
    border-radius: 6px;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.navList {
    display: flex;
    gap: 20px;

}

.nav_link {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 20px;
    border: none;
    border: 2px solid #b80b0b;
    border-radius: 6px;
    background-color: transparent;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

/* .nav_link.active {
    color: aquamarine;
} */

.nav_link:hover {
    background-color: #cc0f0f;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_icon {
    fill: #696969;
}

.logo_text {
    padding-top: 10px;
    color: #b80b0b;
    font-weight: 900;
    font-size: 30px;
}